@(data: List[eztravel.core.pojo.frnplatform.PfProImpDetail])

	<table class="tb-1" id="groupInfo_d"  id="table01_d"
		style="margin-top: 0px; padding-top: 0px;" cellspacing="0"
		align="center" border="0" width="60%">
		<thead>			
			<tr>
				<th style="width: 7%;">序號</th>
				<th style="width: 10%;">供應商</th>
				<th style="width: 15%;">團號</th>
				<th style="width: 20%;">錯誤原因</th>
				<th style="width: 20%;">系統錯誤內容</th>
				<th style="width: 13%;">錯誤代碼</th>
			</tr>
		</thead>
		<tbody>		    
			@for(item <- data) {
			<tr class="odd"><!-- even class -->
				<td class="tdcenter"><div align="center">@item.getJobNo()</div></td>
				<td class="tdcenter"><div align="center">@item.getVendNo()</div></td>
				<td class="tdcenter"><div align="center">@item.getPfProdNo()</div></td>
				<td class="tdcenter"><div>@item.getException()</div></td>
				<td class="tdcenter"><div>@item.getResponseMsg()</div></td>
				<td class="tdcenter"><div align="center">@item.getReturnCode()</div></td>
			</tr>
			}
		</tbody>
	</table>
	<div class="dataTables_paginate">
		<span><span class="txt-gn txt-s2">共 <span class="txt-or">@data.size()</span>
				筆資料 第
		</span><span class="paginate_active">1</span> <span class="txt-gn txt-s2">頁</span></span>
	</div>
