<div id="loginFormContainer">

<form id="loginForm" class="form-horizontal bg-warning col-sm-12" role="form" method="post" action="@routes.AjaxController.login()">
	<div class="form-group">
		<label class="col-sm-3 control-label">員編</label>
		<div class="col-sm-9">
	    	<input id="loginId" name="loginId" class="validate[required]"><br>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">密碼</label>
		<div class="col-sm-9">
			<input type="password" id="loginPwd" name="password" class="validate[required]">	    	
    	</div>    	
	</div>    	
    <input type="hidden" id="loginToken" name="token">
    <input type="hidden" name="role" value="WEBORDER">
</form>
<!-- <button id="loginButton">登入</button> -->
</div>

<script type="text/javascript" src="@routes.Assets.at("javascripts/login.js")"></script>