@(data: List[PfProOutputVO])

<table class="tb-1" id="upload_success_tab"
	style="margin-top: 0px; padding-top: 0px;" cellspacing="0"
	align="center" border="0">
	<thead>
		<tr>
			<th style="width: 20%;">序號</th>
			<th style="width: 25%;">工作單號</th>
			<th style="width: 30%;">上傳資料範圍</th>
			<th style="width: 25%;">上傳結果</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- data) {
		<tr>
			<!-- even class -->
			<td class="tdcenter">
				<div align="center">@item.getSeqNo()</div>
			</td>
			<td class="tdcenter">
				<div align="center">@item.getJobNo()</div>
			</td>
			<td class="tdcenter">
				<div align="center">@item.getJobDesc()</div>
			</td>
			<td class="tdcenter">
				<div align="center">@item.getJobStatus()</div>
			</td>
		</tr>
		}
	</tbody>
</table>