﻿@charset "utf-8";
/* ezTravel@2008 by MiyaC */
/*重設各瀏覽器*/
html{color:#222;background:transparent;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;},fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}/* to preserve line-height and selector appearance */sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}/*to enable resizing for IE*/input,textarea,select{*font-size:100%;}
strong{font-weight:bold;}

/*開始*/
body, td, th {font-size:91.5%;*font-size:91%;line-height:1.5em;color: #222; font-family:Arial, Verdana, sans-serif, 新細明體}/*約13px*/
body {text-align:center; background-color: #FFF; margin:0; padding:0;}
a:link {color:#06C;text-decoration: underline;}a:visited {text-decoration: underline;color:#06C;}a:hover {text-decoration:none;color: #333;}
a img{border:0;}
/*定位*/
.container {width:960px; text-align:left; margin:0 auto; list-style-position: inside; list-style-type: none; }
#main,.main{width:950px;margin:-10px auto 0; padding:0 5px;}
.footer{clear:both; color:#555; text-align:center;margin:1em auto 0; background:url(/images/2008/bg_dn.gif) repeat-x bottom; padding:27px 0 17px;line-height:1.5em; font-size:.9em;}
.footer hr{color:#ccc; height:1px;}
.footer a,.footer a:visited{color:#060; text-decoration:underline;}
.footer a:hover{text-decoration:none;}
.trip_popup {
	width:700px;
	text-align:left;
	margin:10px auto;
	list-style-position: inside;
	list-style-type: none;
}

/*header*/
#header{width:100%;margin:-13px 0 0;*margin:0;background:url(/images/2008/bg_header.gif) 0 13px repeat-x;*background:url(/images/2008/bg_header.gif) 0 0 repeat-x;height:129px;*height:118px;}
#header .logo{float:left;margin:0;}
#header .logo img{height:110px;width:200px;background:url(/images/2008/logo.gif) 30px 36px no-repeat;*background:url(/images/2008/logo.gif) 30px 20px no-repeat;border:0;}
#header .slogan{float:left;height:64px; width:370px; text-align:left;margin:13px 0 0 2px; *margin:0 0 0 2px;}
#header .slogan span{display:none;}
#header .actions{float:right;width:320px;height:64px; text-align:right;margin:13px 0 0;*margin:0;}
#header .topicon{background:url(/images/2008/topicon_bg.gif) right 1px no-repeat; width:305px; height:30px; font-size:13px;vertical-align:top;margin:1px 2px 0; float:right;}
#header .topicon a:link, .topicon a:visited{color:#060; text-decoration:none; display:block; width:68px; float:right; padding:6px 20px 0 0; text-align:right;}
#header .topicon a:hover{text-decoration:underline; color:#06C;}
#header .actions a:link.index-link,#header .actions a:visited.index-link{font-size:13px; color:#fff; text-decoration:none; background:url(/images/2008/arr_white.gif) no-repeat 0 6px;*background-position:0 2px; padding-left:7px; margin-left:7px; margin-right:2px;}
#header .actions a:hover.index-link{text-decoration:underline;}
#header .member{text-align:right; color:#FFF;  font-size:13px; line-height:1.2em; font-weight:bold;margin:0 7px 0 0;}
#header .member a:link, #header .member a:visited{color:#FFF; text-decoration:none;}
#header .member a:hover{color:#FFF; text-decoration:underline;}
#header ul {float:right;display:block; text-align:center; padding:0; list-style:none;margin:1px 1px 0 0;}
#header li {float:left;width:92px; height:33px;}
#header li.HHT {float:left;width:105px; height:33px;}
#header li span {visibility:hidden;}
#header li a{height:34px;display:block; text-decoration:none;}
#header li.FRN-f,#header li.FIT-f,#header li.HTF-f,#header li.GRP-f,#header li.ETK-f,#header li.HTL-f,#header li.HSR-f{height:35px;}
#header li.FRN{background:url(/images/2008/menu_1.gif) no-repeat 0 0;}
#header li.FRN-f,#header li.FRN a:hover{background:url(/images/2008/menu_f1.gif) no-repeat 0 0;}
#header li.FIT{background:url(/images/2008/menu_2.gif) no-repeat 0 0;}
#header li.FIT-f,#header li.FIT a:hover{background:url(/images/2008/menu_f2.gif) no-repeat 0 0;}
#header li.HTF{background:url(/images/2008/menu_3.gif) no-repeat 0 0;}
#header li.HTF-f,#header li.HTF a:hover{background:url(/images/2008/menu_f3.gif) no-repeat 0 0;}
#header li.GRP{background:url(/images/2008/menu_4.gif) no-repeat 0 0;}
#header li.GRP-f,#header li.GRP a:hover{background:url(/images/2008/menu_f4.gif) no-repeat 0 0;}
#header li.ETK{background:url(/images/2008/menu_5.gif) no-repeat 0 0;}
#header li.ETK-f,#header li.ETK a:hover{background:url(/images/2008/menu_f5.gif) no-repeat 0 0;}
#header li.HTL{background:url(/images/2008/menu_6.gif) no-repeat 0 0;}
#header li.HTL-f,#header li.HTL a:hover{background:url(/images/2008/menu_f6.gif) no-repeat 0 0;}
#header li.HSR{background:url(/images/2008/menu_7.gif) no-repeat 0 0;}
#header li.HSR-f,#header li.HSR a:hover{background:url(/images/2008/menu_f7.gif) no-repeat 0 0;}
#header li.HHT{background:url(/images/2008/menu_8.gif) no-repeat 0 0;}
#header li.HHT-f,#header li.HHT a:hover{background:url(/images/2008/menu_f8.gif) no-repeat 0 0;}


/*引擎*/
.engine{height:175px;margin-bottom:10px;*margin-bottom:5px;}
.engine-area{float:left; width:530px;height:175px; background:url(/images/2008/engine_bg_list2.gif) no-repeat -5px 0;padding:0 20px; color:#060;}
.engine-area h2{padding:4px 0 5px 0;color:#64a800; font-size:1em;}
.engine-area h2.HTL,.engine-area h2.HTF{background:url(/images/2008/engine_bg_htl.gif) 6.5em 0 no-repeat;}
.engine-area h2.FIT,.engine-area h2.ETK{background:url(/images/2008/engine_bg_air.gif) 6.7em 0 no-repeat;margin-bottom:.2em;}
.engine-area h2.AIT{background:url(/images/2008/bg_engine_fit.gif) 9.7em .5em no-repeat; margin-bottom:.6em;}
.engine-area h2.HSR{background:url(/images/2008/bg_engine_hsr.gif) 9.2em .3em no-repeat; margin-bottom:.6em;}
.engine-area h2.FRN,.engine-area h2.pkgtw{background:url(/images/2008/bg_index_egn_tree.gif) 6em -2px no-repeat; margin-bottom:.6em;}
.engine-area p{margin:0 0 7px .15em;*margin:0 0 7px .08em; vertical-align:middle; font-size:.9em;}
.engine-area p select{font-size:13px;}
.egbtn{background:url(/images/2008/eg_btn.gif) 0 0 no-repeat; width:47px; height:24px; border:0; cursor:hand; margin:0 0 -2px 5px;}
.egbtn:hover{background:url(/images/2008/eg_btn_h.gif) 1px 1px no-repeat;}
#engine-keywd{background:#e9f7db;padding:2px 5px; font-size:.9em;}
#engine-keywd input{vertical-align:middle;}
a:link.engine-banner,a:hover.engine-banner,a:visited.engine-banner{float:left;width:370px;height:182px;*height:185px;_height:165px;background:url(/images/search_promo/eMoney_01.gif) no-repeat 2px 0;}
.engine-banner{float:left;text-align:left;font-size:.9em;width:370px;height:182px;*height:185px;_height:165px;background:url(/images/2008/engine_promo_bg2.gif) no-repeat 2px 0;padding:28px 9px 12px;}
.engine-banner h2{display:none;}
.engine-banner ul{list-style:url(/images/2008/icon_arrow_gn.gif);margin:0 10px 0 5px;*padding:1px 0 0;list-style-position:inside;letter-spacing:-.05em;*letter-spacing:0;}
.engine-banner li{margin:5px 0;padding:3px 0 0 25px;*padding:0 0 0 20px;*margin:8px 0 0;background:url(/images/2008/index_desh_line.gif) repeat-x 0 bottom; text-indent:-22px;}
.engine-banner li a:link{*margin:0 0 0 5px;}
.engine-banner p{margin:5px;*margin:6px 5px 5px;_margin:10px 5px 5px;padding:0 0 0 2px;_padding:0 0 0 5px;background:url(/images/2008/index_desh_line.gif) repeat-x 0px bottom;}
/*.engine-banner p a:link{margin:2px 0 0 0;padding:0 0 3px 15px;background:url(/images/2008/icon_arrow_gn.gif) no-repeat 0 3px;}*/
.engine-banner a:link,.engine-banner a:visited{color:#555;text-decoration:none;}
.engine-banner a:hover{color:#06c; text-decoration:underline;}

/*商品標題*/
h1 {font-size:1.25em;border:1px solid #abea45;background:#e9ffcd; color:#060; padding:.4em .5em .3em;margin:.4em auto -.4em;}
/*商品說明區*/
.pd-info{display:block; margin:10px 0; *margin-top:0 0;}
.info-side{width:320px; float:left;}
.main-pic{padding:5px; border:1px solid #ddd; margin:.3em 0;}

/*說明頁照片*/
.info-pic{width:480px;float:left;text-align: center;}
.info-pic img {padding:5px; border:1px solid #ddd; margin:4px 2px;}
.google_map{
	border:1px solid #ccc;
	width:325px;
	height:165px;
	margin:3px;
}

/*旅遊資訊表格*/
.travel-info{background:url(/images/bg_travel_info.gif) no-repeat 2px 0; width:303px; height:106px; padding:15px 10px;margin-top:0;}
/* PM商品說明*/
.intro{text-indent:-6em; padding-left:6em; line-height:1.75em; float:right;font-size:.9em; width:537px;}
.intro_1{text-indent:-8em; padding-left:6em; line-height:1.75em; float:right;font-size:.9em; width:517px;}
.intro p{margin:-.05em 0;}
/* 飯店用*/
.intro2{text-indent:2em; padding-left:0;line-height:2em; float:right;font-size:.9em; width:587px;}
.HTL-title{text-indent:0;font-size:1.15em; padding-bottom:.2em;}
.HTL-note{margin:.2em auto; color:#222; text-align:center;}
.room-price{float:left; width:7em; height:5em; display:block; text-align:center; margin:.1em; background:#efefef;padding:0 0 1.54em;}
.room-price2{float:left; width:7em; display:block; text-align:center; margin:.1em; background:#efefef;}/*for多天折價*/
/*頁面功能圖片*/
a:link.addlist,a:visited.addlist{background:url(/images/2008/icon_addls.gif) no-repeat 0 2px;width:91px; height:18px;}
a:hover.addlist{background:url(/images/2008/icon_addls_h.gif) no-repeat 0 2px;}
a:link.addlist img,a:visited.addlist img,a:hover.addlist img{width:91px; height:14px;margin-bottom:-2px;}
a:link.help,a:visited.help,a:hover.help{background:url(/images/2008/icon_errhp.gif) no-repeat 0 2px;width:66px; height: height:18px;}
a:hover.help{background:url(/images/2008/icon_errhp_h.gif) no-repeat 0 2px;}
a:link.help img,a:visited.help img,a:hover.help img{width:66px; height:14px;}

/*分左右*/
.floatL{float:left; width:49%}

/*注意事項等等的說明*/
.note1{text-indent:-3.8em; padding-left:3.8em; line-height:1.5em;}
.note1 p{margin:-.05em 0;}
.note2 p{margin:1em 0 -.02em;}
.note2 ol{margin:-.05em 2em;}

/*流程步驟標題*/
h2 {font-size:1.1em; color:#F40;margin:.4em auto;}
.number {font-size: 0.75em; font-weight:normal; /*float:right; margin:-1.6em .5em 0 0;*/ display: inline;}
span.number { position:relative; right:0px; text-align:right; float:right; margin-top:-1.6em\0; *margin-top:-1.6em; margin-top:0\9\0; margin-right:0.5em;}

/*頁面功能連結*/
.page-action{font-size: 0.8em; font-weight:normal;float:right; margin:0;*margin:-1em 0 0 0;_margin:-1em 0 0 0; color:#060; vertical-align:text-top;}
.page-action a:link,.page-action a:visited{color:#060; text-decoration:none;}
.page-action a:hover{color:#06c; text-decoration:underline;}

/*頁面功能推薦*/
.page-star{
	font-size: 0.8em;
	font-weight:normal;
	float:right;
	color:#F40;
	vertical-align:bottom;
	margin: 0px;
	*margin: -1.2em 0 0 0;
	padding: 0px;
}

/*標題粗體*/
h3 {clear:both;font-size:1.1em; color:#006600;margin:1em auto .3em;}

/*標題正常*/
h4 {font-size: 1.1em; margin:.3em auto;color:#060;font-weight:normal;}
.tag-gn{background:#5BC31F; color:#FFFFFF; padding:0 .5%;}

/*有底邊框標題*/
h5 {font-size:1em;font-weight:normal;border:1px solid #abea45;background:#e9ffcd; color:#060; padding:.4em 1em .3em;margin:.7em auto;}
.txt-icon {font-size:0.75em; font-weight:normal;float:right; margin:-1em .5em 0 0; }
.trip-day{float:left; padding-right:.2em;}
.trip-dtitle{float:left;}

/*有底邊無框置中對齊*/
h6 {font-size:.9em;font-weight:normal;background:#e9ffcd;padding:.3em 1em .2em;margin:2em 0 1em; text-align:center;}

/*邊框 上-.85em*/
.trip{font-size: 0.9em; border:1px solid #abea45; padding:.1em 1em 1em; margin-top:-.85em;background:url(/images/2008/bg_dn.gif) repeat-x bottom;}
img.trip{padding:5px; margin:.3em 1em .3em 0; border:0; background:none;}

/*表格1*/
.tb-1{border:1px solid #abea45;border-collapse:collapse;padding:.3em .5em;}
.tb-1 th{border:1px solid #abea45;padding:.4em;*padding:.4em .5em;background:#e9ffcd; color:#060; font-weight:normal; text-align:center;}
.tb-1 td{border:1px solid #abea45;padding:.3em .5em; text-align:left;}

/*表格2*/
.tb-2{border:1px solid #abea45;border-collapse:collapse;padding:.1em .25em;}
.tb-2 th{border:1px solid #abea45;padding:.05em .2em;background:#e9ffcd; color:#060; font-weight:normal; text-align:center;}
.tb-2 td{border:1px solid #abea45;padding:.1em .25em;}

/*表格3航空公司自由行第一個 黃底*/
.tb-3{border:1px solid #abea45;border-collapse:collapse;padding:.1em .25em;}
.tb-3 th{border-right:1px solid #abea45;padding:.3em .25em .1em;background:#FFFEF2;font-weight:normal; text-align:center;}
.tb-3 td{padding:.3em .4em .2em;}

/*表格4航空公司自由行第二個之後 黃底*/
.tb-4{border:1px solid #abea45;border-collapse:collapse;padding:.1em .25em; border-style:none solid solid;}
.tb-4 th{border-right:1px solid #abea45;padding:.3em .25em .1em;background:#FFFEF2;font-weight:normal; text-align:center;}
.tb-4 td{padding:.3em .4em .2em;}

/*表格5 標題欄無底色*/
.tb-5{border:1px solid #abea45;border-collapse:collapse;padding:.3em .5em;}
.tb-5 th{border:1px solid #abea45;padding:.4em .5em;color:#060; font-weight:normal; text-align:center;}
.tb-5 td{border:1px solid #abea45;padding:.3em .5em;}

/*表格6 無邊框 較淺綠底 直航包機*/
.tb-6{border:0;border-collapse:collapse;padding:.1em .25em;}
.tb-6 th{border:0;padding:.3em .25em .1em;background:#f3ffe3;font-weight:normal; text-align:center; color:#333;}
.tb-6 td{border:0;padding:.3em .4em .2em;}

/*航空公司自由行飯店下拉*/
.ait-htl{width:36em; margin:0;*width:37em;}
/*國際機票加購國際訂房引擎*/
.FITaddHTF{border:3px solid #e2f4cc; background:url(/images/2008/bg_gr2.gif) bottom repeat-x; padding:.5em 1em; line-height:3em;}

/*邊框1*/
.box-1{
	border:0px solid #abea45;
	border-collapse:collapse;
	padding:0 .2em .8em .5em;
	background:url(/images/2008/bg_dn.gif) repeat-x bottom;
}
.box-1 p{margin:1em 0 -.02em;}
.box-1 ol{margin:-.05em 2em;}

/*邊框2*/
.box-2{border:1px solid #abea45;border-collapse:collapse;padding:.3em .2em .4em .5em;}

/*邊框3 上移0*/
.box-3{border:1px solid #abea45;border-collapse:collapse;padding:.3em .2em .4em .5em; margin-top:0;}

/*邊框4 一日遊、高鐵旅客等 單行人數用*/
.box-4{border:1px solid #abea45;border-collapse:collapse;padding:.7em .5em .6em 1.7em;}


/*單邊線*/
.line-dn{border-bottom:1px solid #abea45;}
.line-rt{border-right:1px solid #abea45;}
.sp-line{clear:both;border-bottom:1px solid #ccc;margin:.5em 0 1em;_margin:0 0 .5em;height:1em;}/*分隔住宿旅客用*/

/*標題壓框線 Fieldset & Legend */
fieldset{border:1px solid #ccc; padding:.5em;}

/*文字迷你小中大*/
.txt-ss{font-size:.75em;font-weight:normal;}
.txt-s{font-size:.88em;*font-size:.8em;font-weight:normal;}
.txt-s2{font-size:.9em;font-weight:normal;}
.txt-m{font-size:1em;font-weight:normal;}
.txt-L{font-size:1.1em;font-weight:normal;}
.txt-LL{font-size:1.2em;font-weight:normal;}

/*文字顏色*/
.txt-bl{color: #06c;}
.txt-bk{color: #222;}
.txt-gr{color: #444;}
.txt-or{color: #F40;}
.txt-gn{color: #060;}
.txt-no-r{color:F40;text-decoration:line-through;}

/*其他行高*/
.p-h1 p{margin:0 0 .5em;}
.p-h2 p{margin:1em 0 -.02em;}

/*文字標籤*/
.tag-or{background:#F40; color:#FFF; padding:0 .5%;}


/*結帳金額小記*/
.total-r{float:right;width:20%;}
.total-l{float:right;width:20%;}
.total-p{float:right;width:15%;}

/*旅客名單*/
.travel-list1{float:left; width:49%;margin-top:.5em;}
.travel-list2{float:right;width:49%;margin-top:.5em; padding-left:1em;border-left:1px solid #ccc;}
.travel-list{clear:both;margin-top:.5em;}


/*聯絡人*/
.cont{height:24.5em;_height:17em; margin-top:-.7em;}
.cont-main{float:left; width:49%;}
.cont-main h5{margin-bottom:-.1em;}
.cont-sub{float:right;width:49%;}
.cont-sub h5{margin-bottom:-.1em;}
.cont-sub-in{height:21.8em;*height:22.7em;}


/*淺黃底色邊框-加購保險*/
.insu{background:#FFFEF2; border:1px solid #FEF8D4; padding:.4em;}
/*淺黃底色*/
.bg-yl{background:#FFFEF2;}
/*tour 2.0黃底色*/
.bg-yl{background:#fef8d4;}
/*淺灰底色*/
.bg-gr{background:#FAFAFA;}
.bg-gn{background:#e9ffcd;}
/*不常用的較深綠底色*/
.bg-gn2{background:#ABEA45;}

/*按鈕*/
.btn-1{padding:.4em .2em .3em;}
.btn-2{padding:.3em .1em .2em;}

/*項目符號圖片*/
.list-or{line-height:1.75em;}
.list-or p{background:url(/images/icon_o.gif) no-repeat 0 .5em;margin:-.05em 0; padding:0 0 0 1em;}

.list-gn{line-height:1.75em;}
.list-gn p{background:url(/images/icon_001.gif) no-repeat 0 .1em;margin:-.05em 0; padding:0 0 0 1em;}

/*eMoneyr*/
.emoneypoint { margin-eight:7px; float:right; color:#333333;}
.emoneypoints{font-size:15px; color:#ff4400; font-weight:bold;background:url(/ss_static/images/icon_eMoney_s.gif) no-repeat left; padding:0 3px 5px 15px; margin-left:-3px; }    

/*飯店icon連結*/
.icon-hotel-link{letter-spacing:-0.1em; *letter-spacing:0em;}
.icon-hotel-link img{margin:0 2px -1px 7px;}

/*更多的藍色清單圖*/
.listmore-link img{margin:0 0 -2px 0;}

/*出發日期價格*/
.cal-list p{margin:.2em 0 .5em 0;}


/*空格間距*/
.mn-l1{margin-left:1.7em;}

/*文字對齊+無邊框*/
.txt-b0{border:0; text-align:right; background:none;}
.txt-b1{border:0; text-align:center;background:none;}
.txt-b2{border:0; text-align:left;background:none;}

/*文字對齊*/
.txt-ar{text-align:right;}
.txt-ac{text-align:center;}
.txt-al{text-align:left;}

/*文字區塊只有下底線*/
.txt_dn{border-style:none;border-bottom:1px solid #cbe8b4;}

/*圓角有邊框*/
.xtop, .xbottom { display:block; background:transparent; font-size:1px; }
.xb1, .xb2, .xb3, .xb4 { display:block; overflow:hidden; background: #F7FFEE; }
.xb1, .xb2, .xb3 { height:1px; }
.xb2, .xb3, .xb4 { border-left:1px solid #D7EEBD; border-right:1px solid #D7EEBD; }
.xb1 { margin:0 5px; background:#D7EEBD; }
.xb2 { margin:0 3px; border-width:0 2px; }
.xb3 { margin:0 2px; }
.xb4 { height:2px; margin:0 1px; }
.xboxcontent { display:block; border:0 solid #D7EEBD; border-width:0 1px; padding: 4px; background: #F7FFEE;}

/*清除*/
.clear-float {zoom:1; clear:both; height:0; }/*IE*/
.clear-float:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }/*FF*/


/* MiyaC@2008.01.09 */
.icon_plus{margin:4px 4px -1px 0;}
.icon_minus{margin:4px 4px -1px 5px;}

/*整行頁數*/
.pagelink {clear:both; margin:7px 0 0 0;padding:5px 0; text-align:center;  width:100%; font-size:.9em; line-height:1.8em; word-spacing: 0.5em;*word-spacing: 0.7em; }
.pagelink a:link, .pagelink a:hover{text-decoration:underline;}

/*以下是舊的*/
/* ========================================================================== */
/*                              TABLE                          */
/* ========================================================================== */
table.T_date   { background: #CCFF99; border: 0; }
table.T_line   {
	background: #ABEA45;
	border: 0;
	padding-bottom: 3px;
}
table.T_step   { background: #5BC31F; border: 0; }
table.T_note   { background: #FF5F08; border: 0; }

tr.R_title  { background: #E9FFCD; height: 30;  font-size: 12px; line-height: 18px; color: FF3300; font-family: 新細明體}
tr.R_white  { background: #FFFFFF; height: 30; }
tr.R_month  { background: #339933;  text-align: center; }
tr.R_day { background: #FFFFFF;  text-align: center; }
tr.R_week  { background: #ECFFD9;  text-align: center; }


td.D_title  { background: #E9FFCD; height: 30;  font-size: 12px; line-height: 18px; color: #006500; font-family: 新細明體}
td.D_white  { background: #FFFFFF; height: 30; }
td.D_line  { background: #ABEA45; }
td.D_grey  { background: #EFEFEF; }
td.D_white  { background: #FFFFFF; height: 30; }

.newtable { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: ABEA45; border-bottom-color: ABEA45;background-color: #E9FFCD;}	
.newtable02 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ABEA45; border-right-width: 1px;border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #ABEA45; border-left-color: #ABEA45;}
.tableoutline { border-right-style: none; border-bottom-style: none; border-top-width: 1px; border-left-width: 1px;border-top-style: solid; border-left-style: solid; border-top-color: #ABEA45; border-left-color: #ABEA45; }
.tdoutline { border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid;border-bottom-style: solid; border-right-color:  #ABEA45; border-bottom-color: #ABEA45; }
.bodershadow { border-right-width: 1px; border-bottom-width: 1px; border-top-style: none; border-right-style: solid;border-bottom-style: solid; border-left-style: none; border-right-color: #BEBEBE; border-bottom-color: #BEBEBE; }
.borderleft { border-left-width: 1px; border-left-style: solid; border-left-color: #ABEA45; }
.borderright { border-right-width: 1px; border-right-style: solid; border-right-color: #ABEA45; }
.borderdown { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ABEA45; }
.borderrihgtdown { border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid;border-bottom-style: solid; border-right-color: #ABEA45; border-bottom-color: #ABEA45; }
.bordertopright { border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;border-top-color: #ABEA45;border-left-color: #ABEA45;}

/* ========================================================================== */
/*                               字型                           */
/* ========================================================================== */
.TXT_bigG {  font-size: 15px; line-height: 27px; color: #006500; font-family: 新細明體}
.TXT_bigR {  font-size: 15px; line-height: 27px; color: #ff3300; font-family: 新細明體}
.TXT_bigB {  font-size: 15px; line-height: 15px; color: #0066CC; font-family: Arial,新細明體}
.TXT_boldR {  font-size: 15px; line-height: 15px; color: #ff3300; font-family: Arial, "新細明體"; font-weight: bold}
.TXT_boldW {  font-size: 15px; line-height: 15px; color: #ffffff; font-family: Arial, "新細明體"; font-weight: bold}
.TXT_b {  font-size: 12px; line-height: 18px; color: #0066CC; font-family: 新細明體}
.TXT_g {  font-size: 12px; line-height: 18px; color: #006500; font-family: 新細明體}
.TXT_grey {  font-size: 12px; line-height: 18px; color: #333333; text-decoration: none; font-family: 新細明體}
.TXT_grey15 {  font-size: 15px; line-height: 24px; color: #333333; text-decoration: none; font-family: 新細明體}
.TXT_r {  font-size: 12px; line-height: 18px; color: #ff4400; font-family: 新細明體}
.TXT_w {  font-size: 12px; line-height: 18px; color: #ffffff; font-family: 新細明體}

.s13lh18green01 {	font-size: 13px; line-height: 18px; font-weight: bold; color: #006500;}
.s12lh18green01 {   font-size: 12px; line-height: 18px; font-weight: bold; color: #006500;}

/* ========================================================================== */
/*                               連結字型                           */
/* ========================================================================== */
a.L_blue {  font-size: 12px; line-height: 18px; color: #0066CC; text-decoration: underline; font-family: 新細明體}
a.L_blue:hover {  font-size: 12px; line-height: 18px; color: #0066CC; text-decoration: none; font-family: 新細明體 }
a.L_b {  font-size: 12px; line-height: 18px; color: #0066CC; text-decoration: underline; font-family: 新細明體}
a.L_b:hover {  font-size: 12px; line-height: 18px; color: #0066CC; text-decoration: none; font-family: 新細明體 }
a.L_b13 {  font-size: 13px; line-height: 22px; color: #0066CC; text-decoration: underline; font-family: 新細明體}
a.L_b13:hover {  font-size: 13px; line-height: 22px; color: #0066CC; text-decoration: none; font-family: 新細明體 }
a.L_b15 {  font-size: 15px; line-height: 22px; color: #0066CC; text-decoration: underline; font-family: 新細明體; line-height: 150%;}
a.L_b15:hover {  font-size: 15px; line-height: 22px; color: #0066CC; text-decoration: none; font-family: 新細明體; line-height: 150%;}
a.L_g {  font-size: 12px; line-height: 18px; color: #006600; text-decoration: underline; font-family: 新細明體}
a.L_g:hover {  font-size: 12px; line-height: 18px; color: #006600; text-decoration: none; font-family: 新細明體}
a.L_gNO {  font-size: 12px; line-height: 18px; color: #006600; text-decoration: none; font-family: 新細明體}
a.L_gNO:hover {  font-size: 12px; line-height: 18px; color: #0066CC; text-decoration: none; font-family: 新細明體}
a.L_gg {  font-size: 12px; line-height: 18px; color: #444444; text-decoration: underline; font-family: 新細明體}
a.L_gg:hover {  font-size: 12px; line-height: 18px; color: #444444; text-decoration: none; font-family: 新細明體}
a.L_ggNO {  font-size: 12px; line-height: 18px; color: #444444; text-decoration: none; font-family: 新細明體}
a.L_ggNO:hover {  font-size: 12px; line-height: 18px; color: #444444; text-decoration: underline; font-family: 新細明體}
a.L_gg15 {  font-size: 15px; line-height: 20px; color: #444444; text-decoration: none; font-family: 新細明體}
a.L_gg15:hover {  font-size: 15px; line-height: 20px; color: #444444; text-decoration: underline; font-family: 新細明體}
a.L_h {  font-size: 12px; line-height: 18px; color: #FFF2E6; text-decoration: none; font-family: 新細明體}
a.L_h:hover {  font-size: 12px; line-height: 18px; color: #FFF2E6; text-decoration: none; font-family: 新細明體}
a.L_h1 {  font-size: 12px; line-height: 18px; color: #FFF2E6; text-decoration: none; font-family: 新細明體}
a.L_h1:hover {  font-size: 12px; line-height: 18px; color: #FFF2E6; text-decoration: underline; font-family: 新細明體}
a.L_w {  font-size: 12px; line-height: 18px; color: #FFFFFF; text-decoration: none; font-family: 新細明體}
a.L_w:hover {  font-size: 12px; line-height: 18px; color: #FFFFFF; text-decoration: underline; font-family: 新細明體}
a.L_r {  font-size: 12px; line-height: 18px; color: #FF4400; text-decoration: underline; font-family: 新細明體}
a.L_r:hover {  font-size: 12px; line-height: 18px; color: #FF4400; text-decoration: none; font-family: 新細明體}
a.L_r13 {  font-size: 13px; line-height: 22px; color: #FF4400; text-decoration: underline; font-family: 新細明體}
a.L_r13:hover {  font-size: 13px; line-height: 22px; color: #FF4400; text-decoration: none; font-family: 新細明體}
a.L_r15 {  font-size: 15px; line-height: 22px; color: #FF4400; text-decoration: underline; font-family: 新細明體; line-height: 150%;}
a.L_r15:hover {  font-size: 15px; line-height: 22px; color: #FF4400; text-decoration: none; font-family: 新細明體; line-height: 150%;}
a.L_gray {  font-size: 12px; line-height: 18px; color: #444; text-decoration: underline; font-family:"新細明體";}
a.L_gray:hover {  font-size: 12px; line-height: 18px; color: #444; text-decoration: none;font-family:"新細明體";}
/* ========================================================================== */
/*                               尚未分類的                          */
/* ========================================================================== */
.button02 {font-size: 11px;height: 19px;}
.forfrontweight {width: 20px;}
.forfron4word {width: 36px;}
.t {font-size: 12px;line-height: 18px;color: #006600;}
.newfront {width: 120px;}
.hand {  cursor: hand}.btn-h30 {  height: 30px}
