@(data: List[eztravel.core.pojo.frnplatform.PfProImpMain])

<table class="tb-1" id="groupInfo"
					style="margin-top: 0px; padding-top: 0px;" cellspacing="0"
					align="center" border="0">
					<thead>
						<tr>
							<th style="width: 10%;">工作單號</th>
							<th style="width: 15%;">執行日期時間</th>
							<th style="width: 10%;">供應商</th>
							<th style="width: 10%;">執行狀態</th>
							<th style="width: 10%;">成功團務</th>
							<th style="width: 15%;">失敗/詳細說明</th>
							<th style="width: 10%;">總數</th>
						</tr>
					</thead>
					<tbody>
						@for(item <- data) {
						<tr>
							<!-- even class -->
							<td class="tdcenter"><div align="center">@item.getJobNo()</div></td>
							<td class="tdcenter"><div align="center">@item.getProcessDt()</div></td>
							<td class="tdcenter"><div align="center">@item.getVendNo()</div></td>
							<td class="tdcenter"><div align="center">@item.getJobStatus()</div></td>
							<td class="tdcenter"><div align="center">@item.getCountOk()</div></td>
							<td class="tdcenter"><div align="center">
									@if(item.getCountFail() > 0){ <a
										href="@routes.AjaxController.searchImpDetail(item.getJobNo())"
										jobNo="@item.getJobNo">@item.getCountFail()</a> } else {
									@item.getCountFail() }
								</div></td>
							<td class="tdcenter"><div align="center">@item.getTotalNum()</div></td>
						</tr>
						}
					</tbody>
				</table>