@(mapVendor: java.util.Map[String, VndMainVO])

    <!--顯示資料讀取中,請稍後...的icon 圖示(開始)-->
    <div class="wait" style="text-align: center;">
        <p style="height: 5pt"></p>

        <div class="ezload">
            <img align="absmiddle" border="0"
                 src="http://www.eztravel.com.tw/images/2008/loading_img.gif"/>
            行程上傳中,請稍後...
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#upload" role="tab" data-toggle="tab">行程資料上傳</a></li>
        <li><a href="#batch" role="tab" data-toggle="tab">行程資料批次上傳</a></li>
        <li><a href="#result" role="tab" data-toggle="tab">行程資料上傳結果</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="upload">            

            <form class="form-horizontal bg-warning col-sm-12" role="form" action="@routes.Index.submit2()"
                  method="POST" enctype="multipart/form-data">
				
				<div class="form-group">                
                    <p class="bg-danger"></p>
                </div>
	
                <div class="form-group">                
                    <label class="col-sm-3 control-label">匯入平台供應商</label>

                    <div class="col-sm-9">
                        <select> @for(vndMain <-
                           mapVendor.keySet()) {
                                <option value="@mapVendor.get(vndMain).getVendNo()">@mapVendor.get(vndMain).getVendNameCh()</option>
                           }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="batch1" class="col-sm-3 control-label">第一組行程資料</label>

                    <div class="col-sm-9">

                        <input type="file" id="batch1" name="batch1" class="form-control" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch2" class="col-sm-3 control-label">第二組行程資料</label>

                    <div class="col-sm-9">
                        <input type="file" id="batch2" name="batch1" class="form-control" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch3" class="col-sm-3 control-label">第三組行程資料</label>

                    <div class="col-sm-9">
                        <input type="file" id="batch3" name="batch1" class="form-control" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch4" class="col-sm-3 control-label">第四組行程資料</label>

                    <div class="col-sm-9">
                        <input type="file" id="batch4" name="batch1" class="form-control" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch5" class="col-sm-3 control-label">第五組行程資料</label>

                    <div class="col-sm-9">
                        <input type="file" id="batch5" name="batch1" class="form-control" multiple>
                    </div>
                </div>
                <input type="submit" id="submit" class="btn btn-success" value="檔案上傳"/>
            </form>
        </div>
        <div class="tab-pane" id="batch">				

            <form class="form-horizontal bg-warning col-sm-12" role="form" action="@routes.Index.submit2()"
                  method="POST" enctype="multipart/form-data">
				<div class="form-group">                
                    <p class="bg-danger"></p>
                </div>                
                <div class="form-group">
                    <label class="col-sm-3 control-label">匯入平台供應商</label>

                    <div class="col-sm-9">
                        <select class="text-left"> @for(vndMain <-
                            mapVendor.keySet()) {
                            <option value="@mapVendor.get(vndMain).getVendNo()">@mapVendor.get(vndMain).getVendNameCh()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="files_bat" class="col-sm-12 form-control">行程資料夾(目前只適用於 Google Chrome 與 Opera 瀏覽器)</label>
                </div>
                <div class="form-group" col-sm-12>
                    <input type="file" name="files[]" id="files_bat" multiple directory="" webkitdirectory="" mozdirectory="">
                </div>
                <input type="submit" id="submit_bat" class="btn btn-success" value="批次檔案上傳"/>
            </form>
        </div>
        <div class="tab-pane" id="result">
            <div id="result_container">
            </div>
        </div>
    </div>

